* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/imagenfondo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
/*Login y Registro*/
.div_logo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.img_logo {
  width: 360px;
}

.container_all {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Login*/
.container_login {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 80px;
  width: 20rem;
  height: 450px;
  background: rgb(155, 185, 187);
  background: radial-gradient(
    circle,
    rgba(155, 185, 187, 0.8463760504201681) 0%,
    rgba(180, 218, 219, 0.8743872549019608) 100%
  );
  border: 1px solid #bbb7b7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 50px 0 30px 0;
  gap: 30px;
  font-family: "Titillium Web", sans-serif;
}

.input_login {
  border-radius: 10px;
  border: 0.5px solid #bbb7b7;
  padding: 8px;
  width: 215px;
  font-family: "Titillium Web", sans-serif;
}

.login_button {
  width: 205px;
  height: 40px;
  background: #cbae9e;
  border: 1px solid #bbb7b7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem;
}

.login_button:hover {
  background-color: #faead1;
}

.line_hr {
  height: 3px;
  width: 60%;
  background-color: black;
}

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 10px;
  white-space: nowrap;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    background-color: #e5e5e5;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
    transition-duration: 10ms;
  }
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Roboto", arial, sans-serif;
}

.google-icon {
  margin-top: 0;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
/*Registro*/
.container_register {
  text-align: center;
  display: flex;
  gap: 5px;
}

.register_title {
  font-size: 0.9rem;
  font-weight: bold;
}

.register_button {
  border: none;
  background-color: transparent;

  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
}

.register_button:hover {
  transform: scale(1.05);
  text-decoration: underline;
}
/*Button volver atras, página rgister*/
.back_button {
  width: 6rem;
  height: 25px;
  background: #cbae9e;
  border: 1px solid #bbb7b7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem;
}

.back_button:hover {
  background-color: #faead1;
}

/*Home*/
/*/.div_logo{
  display: flex;
  justify-content: space-between;
}*/

.img_logout {
  height: 50px;
}

.logout_button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.section_post {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 300px;
  font-family: "Titillium Web", sans-serif;
}

.container_post {
  border: 1px solid #bbb7b7;
  margin-bottom: 20px;
  padding: 20px 20px 30px 20px;
  background: rgb(155, 185, 187);
  background: radial-gradient(
    circle,
    rgba(155, 185, 187, 0.8463760504201681) 0%,
    rgba(180, 218, 219, 0.8743872549019608) 100%
  );
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 111, 112, 0.54);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 111, 112, 0.54);
  box-shadow: 0px 5px 15px 0px rgba(112, 111, 112, 0.54);
}

.welcome_title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.post_input {
  height: 35px;
  /* width: 580px;*/
  width: 45vh;
  border: 1px solid #bbb7b7;
  border-radius: 3px;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.publish_button {
  width: 150px;
  height: 30px;
  background: #cbae9e;
  border: 1px solid #aea9a9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  border-radius: 3px;
  margin-left: 20px;
  font-size: 22px;
}

.publish_button:hover {
  background-color: #faead1;
  transition-duration: 10ms;
  cursor: pointer;
}

.content_post {
  font-size: 1.3rem;
}

.container_feed_post {
  border: 1px solid #bbb7b7;
  padding: 1rem 2rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    94deg,
    rgba(255, 255, 255, 0.788) 0%,
    rgba(255, 255, 255, 0.793) 43%,
    rgba(245, 246, 250, 0.723) 100%
  );
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 111, 112, 0.54);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 111, 112, 0.54);
  box-shadow: 0px 5px 15px 0px rgba(112, 111, 112, 0.54);
  margin: 30px 0;
  text-align: justify;
}

.button_feed_container {
  display: flex;
  justify-content: flex-end;
  
}
.button_edit,
.button_delete {
  width: 100px;
  height: 24px;
  background: #cbae9e;
  border: 1px solid #aea9a9;
  margin-top: 20px;
  border-radius: 3px;
  margin-right: 40px;
  font-size: 20px;
}

.button_edit:hover,
.button_delete:hover {
  background-color: #faead1;
  transition-duration: 10ms;
  cursor: pointer;
}
.like_btn,
.like_heart {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-family: "Titillium Web", sans-serif;
}

@media only screen and (min-width: 1180px) {
  .section_post {
  height: 80vh;
  width: 150vh;
  font-family: "Titillium Web", sans-serif;
}
.post_input {
  height: 35px;
  width: 60vh;
  border: 1px solid #bbb7b7;
  border-radius: 3px;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container_post {
  height: 30vh;
  width: 90vh;
  border: 1px solid #bbb7b7;
  margin-bottom: 20px;
  padding: 20px 20px 30px 20px;
  background: rgb(155, 185, 187);
  background: radial-gradient(
    circle,
    rgba(155, 185, 187, 0.8463760504201681) 0%,
    rgba(180, 218, 219, 0.8743872549019608) 100%
  );
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 111, 112, 0.54);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 111, 112, 0.54);
  box-shadow: 0px 5px 15px 0px rgba(112, 111, 112, 0.54);
}

.container_feed_post {
  border: 1px solid #bbb7b7;
  height: 30vh;
  width: 90vh;
  padding: 4rem 2rem 1rem 2rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    94deg,
    rgba(255, 255, 255, 0.788) 0%,
    rgba(255, 255, 255, 0.793) 43%,
    rgba(245, 246, 250, 0.723) 100%
  );
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 111, 112, 0.54);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 111, 112, 0.54);
  box-shadow: 0px 5px 15px 0px rgba(112, 111, 112, 0.54);
  margin: 30px 0;
  text-align: justify;
}
}